AIRFLOW_PORT=8083
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
HADOOP_USER_NAME=root
PG_URL=jdbc:postgresql://db:5432/demo
PG_USER=postgres
PG_PASSWORD=123456
LAKE_WAREHOUSE=hdfs://namenode:9000/warehouse
MONGO_URI=mongodb://root:123456@mongo:27017/?authSource=admin
MONGO_DB=airlines
